

.btn-link {
  text-decoration: none;
  padding-top: 15px;
}

.btn-link:hover {
  text-decoration: none;
}

.vert_align_nav {
  margin-top: 15px;
  padding: 0px;
}

.search-nav {
  padding-top: 15px;
}

.prof_sm_text {
  font-size: .7em;
  margin: 0px;
}

.show_question_wrap {
  border-top: 1px solid lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
}

.show_question_wrap div {
  padding: 10px;
}

.show_question_stats_wrap p {
  text-align: center;
  font-size: .9em;
}

.center_align {
  text-align: center;
}

.login_box {
  padding-top: 30px;
  width: 183px;
  margin: 0 auto;
}

.login_box h3 {
  text-align: center;
}

.login_field {
  margin: 15px;
}

.sign_in_button {
  margin-top: 10px;
  float: right;
}
